<script src="/js/alterar/ctrlSaidaEvento.js"></script>
<div class="container">
    <div class="container-fluid">

        <h1 class="h3 mb-4 text-gray-800">Alterar Controle de saída de evento</h1>
        <% if (typeof msg != "undefined") { %>
            <span><%= msg %></span>
        <% } %>

        <input id="id" hidden value="<%= ctrlEven.ctrlEven_id %>">
        <input id="createdAt" hidden value="<%= ctrlEven.createdAt %>">
        <div class="col-md-6">
            <label for="ctrlEven_desc" class="form-label">Descrição sobre o controle<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.ctrlEven_desc %>" type="text" name="ctrlEven_desc" class="form-control" id="ctrlEven_desc" placeholder="Digite a descrição do evento">
        </div>

        <div class="col-md-6">
            <label for="ctrlEven_estado" class="form-label">Estado dos produtos<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.ctrlEven_estado %>" type="text" name="ctrlEven_estado" class="form-control" id="ctrlEven_estado" placeholder="Digite o estado do evento">
        </div>

        <div class="col-md-6">
            <label for="prodSaida_id" class="form-label">Produto de Saída<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.prodSaida_id %>" type="text" name="prodSaida_id" class="form-control" id="prodSaida_id" placeholder="Digite o produto de saída">
        </div>

        <div class="col-md-6">
            <label for="prodSaida_qnt" class="form-label">Quantidade de Saída<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.prodSaida_qnt %>" type="number" name="prodSaida_qnt" class="form-control" id="prodSaida_qnt" placeholder="Digite a quantidade de saída">
        </div>

        <div class="col-md-6">
            <label for="prodEntrada_id" class="form-label">Produto de Entrada<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.prodEntrada_id %>" type="text" name="prodEntrada_id" class="form-control" id="prodEntrada_id" placeholder="Digite o produto de entrada">
        </div>

        <div class="col-md-6">
            <label for="prodEntrada_qnt" class="form-label">Quantidade de Entrada<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.prodEntrada_qnt %>" type="number" name="prodEntrada_qnt" class="form-control" id="prodEntrada_qnt" placeholder="Digite a quantidade de entrada">
        </div>

        <div class="col-md-6">
            <label for="even_id" class="form-label">Evento<span class="text-danger">*</span></label>
            <input value="<%= ctrlEven.even_id %>" type="text" name="even_id" class="form-control" id="even_id" placeholder="Digite o evento">
        </div>
        <br>
        <br>

        <div class="col-12">
            <button type="button" class="btn btn-success px-4 py-3" id="btnAlterar">Salvar</button>
            <button type="button" class="btn btn-secondary px-3 py-3" id="cancelar">Cancelar</button>
        </div>

    </div>
</div>