<script src="/js/alterar/produtos.js"></script>
<div class="container">
    <div class="container-fluid">

        <h1 class="h3 mb-4 text-gray-800">Alterar Produto</h1>
        <% if (typeof msg != "undefined") { %>
            <span><%= msg %></span>
        <% } %>
        <input id="id" hidden value="<%= produto.prod_id %>">
        <input id="createdAt" hidden value="<%= produto.createdAt %>">
        <div class="col-md-6">
            <label for="prod_nome" class="form-label">Nome do Produto<span class="text-danger">*</span></label>
            <input value="<%= produto.prod_nome %>" type="text" name="prod_nome" class="form-control" id="prod_nome" placeholder="Digite o nome do produto">
        </div>

        <div class="col-md-6">
            <label for="prod_tipo" class="form-label">Tipo do Produto<span class="text-danger">*</span></label>
            <input value="<%= produto.prod_tipo %>" type="text" name="prod_tipo" class="form-control" id="prod_tipo" placeholder="Digite o tipo do produto">
        </div>

        <div class="col-md-6">
            <label for="prod_desc" class="form-label">Descrição do Produto<span class="text-danger">*</span></label>
            <input value="<%= produto.prod_desc %>" type="text" name="prod_desc" class="form-control" id="prod_desc" placeholder="Dê uma descrição para o produto">
        </div>

        <div class="col-md-6">
            <label for="prod_qnt" class="form-label">Quantidade do Produto<span class="text-danger">*</span></label>
            <input value="<%= produto.prod_qnt %>" type="number" name="prod_qnt" class="form-control" id="prod_qnt" placeholder="Digite a quantidade do produto">
        </div>

        <br>
        <br>

        <div class="col-12">
            <button type="button" class="btn btn-success px-4 py-3" id="btnAlterar">Salvar</button>
            <button type="button" class="btn btn-secondary px-3 py-3" id="cancelar">Cancelar</button>
        </div>

    </div>
</div>