<script src="/js/listar/ctrlSaidaEvento.js"></script>

<h1>Registro de controles de eventos</h1>
<a class="btn btn-secondary" style="max-width: 200px;" href="/ctrlSaidaEvento/cadastrar">Novo registro</a>
<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Evento</th>
                    <th>Descrição</th>
                    <th>Estado</th>
                    <th>Produto</th>
                    <th>Quantidade de produto</th>
                    <th>Valor em dinheiro</th>
                    <th>Animais</th>
                    <th>Data de Registro</th>
                    <th>Data de Atualização</th>
                </tr>
            </thead>
            </thead>
            <tbody>
                <% for (let i = 0; i < listaCtrlEven.length; i++)  { %>
                    <tr>
                        <td><%= listaCtrlEven[i].ctrlEven_id %></td>
                        <td><%= listaCtrlEven[i].even_id %></td>
                        <td><%= listaCtrlEven[i].ctrlEven_desc %></td>
                        <td>
                            <%= listaCtrlEven[i].ctrlEven_estado %>
                            <% if (listaEntrada[i] === false) { %>
                                <a class="btn btn-outline-danger" href="/ctrlSaidaEvento/cadastrar/<%= listaCtrlEven[i].ctrlEven_id %>">Fechar Controle</a>
                            <% } %>
                        </td>
                        <td><%= listaCtrlEven[i].prod_id %></td>
                        <td><%= listaCtrlEven[i].prod_qnt %></td>
                        <td><%= listaCtrlEven[i].patrim_valor %></td>
                        <td><%= listaCtrlEven[i].ani_id %></td>
                        <td><%= listaCtrlEven[i].createdAt %></td>
                        <td><%= listaCtrlEven[i].updatedAt %></td>
                        <td>
                            <a href="/ctrlSaidaEvento/alterar/<%= listaCtrlEven[i].ctrlEven_id %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button data-codigoexclusao="<%= listaCtrlEven[i].ctrlEven_id %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>